@import './custom_bootstrap.scss';

.main_content {}

#renderContainerId {
  height: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

@include media-breakpoint-down(sm) {
  .game_control {
    h5 {
      min-width: 100px;
    }
  }
}
tr {
  line-height: 0;
}
td {
  padding: 0;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}