$color: #FF7B39;

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.5);

  h1 {
    padding: 4rem;
    border: 5px solid;
    border-radius: 100%;
    text-shadow: 0 0 20px black;
    color: $color;
    background-color: rgba($color, 0.2);
  }
}