@import './custom_bootstrap.scss';

#renderContainerId {
  height: 100%;
}

.game_control {
  position: sticky;
  top: 1rem;
}

@include media-breakpoint-down(sm) {
  .game_control {
    position: static;

    h5 {
      min-width: 100px;
    }
  }
}

tr {
  line-height: 0;
}
td {
  display: inline-block;
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }
}
